// COLORS
:root {
  // цвета

  --color-primary: #332f2f;
  --color-white: #fff;
  --color-accent: #e1472b;
  --color-gray: #332f2f;
  --color-dropdown: #f1f1f1;
  --color-dropdown-hover: rgba(0, 0, 0, 0.1);
  --color-placeholder: rgba(#454545, 0.5);

  // шрифты

  --font-family: "Poppins", sans-serif;
  --fs-xs: 500 12px / 140% var(--font-family);
  --fs-s: 500 14px / 140% var(--font-family);
  --fs-m: 400 16px / 140% var(--font-family);
  --fs-l: 700 22px / 140% var(--font-family);
  --fs-xl: 400 62px / 140% var(--font-family);
}
