.collezione {
  &__title {
    margin-bottom: 12px;

    @include sm {
      text-align: center;
    }

    @include xs {
      font-weight: 400;
      font-size: 36px;
    }
  }

  &__subtitle {
    margin-bottom: 48px;

    @include sm {
      text-align: center;
    }
  }
}

.grid {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: -10px;
  margin-left: -10px;

  &__item {
    margin-right: 10px;
    margin-bottom: 10vw;
    margin-left: 10px;

    @include sm {
      margin-right: 5px;
      margin-bottom: 16vw;
      margin-left: 5px;
    }

    @include xs {
      margin-bottom: 50px;
    }
  }
}

.product {
  overflow: hidden;

  &__img {
    position: relative;
    margin-bottom: 14px;

    img {
      @include sm {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @include sm {
      height: 338px;
    }

    @include xs {
      margin-bottom: 10px;
      height: 200px;
    }
  }

  &__btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &--active {
      opacity: 1;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: #332f2f;
    transition: background-color 0.3s ease-in-out;

    svg {
      width: 30px;
      height: 30px;
      stroke: var(--color-white);
    }

    &:hover {
      background-color: #332f2f;
    }

    &:first-child {
      margin-right: 20px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: #332f2f;
    transition: background-color 0.3s ease-in-out;

    svg {
      width: 30px;
      height: 30px;
      stroke: var(--color-white);
    }

    &:hover {
      background-color: currentColor;
    }

    &:first-child {
      margin-right: 60px;
    }

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-weight: 400;
    text-transform: uppercase;

    @include xs {
      font-weight: 500;
      font-size: 12px;
    }
  }

  &__price {
    font: var(--fs-s);

    @include xs {
      font-weight: 600;
      font-size: 12px;
    }
  }

  &:hover {
    .product__btns {
      opacity: 1;
      visibility: visible;
    }
  }
}

.child-1 {
  flex-basis: calc(59% - 20px);
  width: calc(59% - 20px);

  @include sm {
    flex-basis: calc(100% - 10px);
    width: calc(100% - 10px);
  }
}

.child-2 {
  flex-basis: calc(18% - 20px);
  margin-right: calc(18% + 10px);
  width: calc(18% - 20px);

  @include sm {
    flex-basis: calc(50% - 10px);
    margin-right: 5px;
    width: calc(50% - 10px);
  }
}

.child-3 {
  flex-basis: calc(18% - 20px);
  width: calc(18% - 20px);

  @include sm {
    flex-basis: calc(50% - 10px);
    width: calc(50% - 10px);
  }
}

.child-4 {
  flex-basis: calc(18% - 20px);
  width: calc(18% - 20px);

  @include sm {
    flex-basis: calc(50% - 10px);
    width: calc(50% - 10px);
  }
}

.child-5 {
  flex-basis: calc(37% - 20px);
  margin-left: calc(27% + 10px);
  width: calc(37% - 20px);

  @include sm {
    flex-basis: calc(50% - 10px);
    margin-left: 5px;
    width: calc(50% - 10px);
  }
}

.child-6 {
  flex-basis: calc(37% - 20px);
  width: calc(37% - 20px);

  @include sm {
    flex-basis: calc(50% - 10px);
    width: calc(50% - 10px);
  }
}

.child-7 {
  flex-basis: calc(18% - 20px);
  width: calc(18% - 20px);

  @include sm {
    flex-basis: calc(50% - 10px);
    width: calc(50% - 10px);
  }
}

.child-8 {
  flex-basis: calc(18% - 20px);
  margin-left: calc(27% + 10px);
  width: calc(18% - 20px);

  @include sm {
    flex-basis: calc(50% - 10px);
    margin-left: 5px;
    width: calc(50% - 10px);
  }
}
