.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: 0.5s;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

    @include xs {
      padding: 16px 0;
    }
  }

  &__logo {
    width: 120px;
    height: 19px;

    @include sm {
      width: 90px;
      height: 14px;
    }
  }

  &__menu {
    margin-left: auto;

    @include sm {
      order: -2;
      margin-left: 0;
    }
  }

  &__cart {
    margin-left: 60px;

    @include sm {
      margin-left: 0;
    }
  }
}

.nav {
  &__close {
    display: none;

    &::before {
      content: "";
      position: absolute;
      left: -12px;
      right: -12px;
      top: -8px;
      bottom: -8px;
      transform: translateZ(0);
    }

    svg {
      width: 12px;
      height: 12px;
    }

    @include sm {
      position: absolute;
      left: 20px;
      top: 20px;
      display: block;
    }
  }

  @include sm {
    position: fixed;
    left: -150vw;
    top: 0;
    padding: 10% 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    transition: all ease 0.5s;
  }
}

.burger {
  position: relative;
  display: none;
  width: 20px;
  height: 12px;
  color: #332f2f;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: translateY(-50%);
  }

  @include sm {
    display: block;
  }
}
