.hero {
  position: relative;
  height: 100vh;
  min-height: 600px;

  &__slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    @include xs {
      height: 60%;
    }
  }

  &__slide {
    background: url("../../img/header-bg.jpg") center / cover no-repeat;
  }

  &__slide-1 {
    background: url("../../img/bg-banner2.jpg") center / cover no-repeat;
  }

  &__slide-2 {
    background: url("../../img/bg-banner3.jpg") center / cover no-repeat;
  }

  &__slide-3 {
    background: url("../../img/bg-banner2.jpg") center / cover no-repeat;
  }

  &__offset {
    position: absolute;
    right: 5%;
    top: 20%;

    @include xs {
      left: 24px;
      right: 24px;
      top: auto;
      bottom: -180px;
    }
  }

  &__title {
    margin-bottom: 12px;
    max-width: 432px;
    font-family: "Roboto", sans-serif;

    @include xs {
      margin-bottom: 20px;
      max-width: 232px;
      font-size: 28px;
    }
  }

  &__btn {
    font: var(--fs-m);
    transition: 0.2s;

    &:focus {
      opacity: 0.59;
    }

    &:active {
      color: var(--color-white);
      opacity: 1;
    }

    @include desktop {
      &:hover {
        opacity: 0.59;
      }
    }
  }

  &__descr {
    position: absolute;
    left: 24px;
    bottom: 20px;
  }

  &__text {
    max-width: 400px;

    @include xs {
      display: none;
    }
  }

  &__slide-control {
    position: absolute;
    left: 24px;
    bottom: 100px;
    display: flex;
    width: 300px;

    @include xs {
      right: 24px;
      bottom: -30px;
      width: 270px;
    }
  }

  &__button-prev {
    margin-left: 100px;

    @include xs {
      margin-left: 170px;
    }
  }

  &__button-next {
    margin-right: 100px;

    @include xs {
      margin-right: 0;
    }
  }

  &__button-prev,
  &__button-next {
    color: currentColor;

    @include xs {
      font-size: 12px;
    }
  }

  @include xs {
    height: 100%;
  }
}

.hero__slide-pagination {
  z-index: 10;
}

.swiper-pagination-current {
  margin-right: 12px;
}

.swiper-pagination-total {
  margin-left: 12px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
