.product-information {
  padding-top: 100px;

  &__inner {
    display: flex;

    @include xs {
      flex-direction: column;
    }
  }

  &__left {
    width: 60%;

    @include xs {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  &__right {
    margin-left: 15px;
    width: 38%;

    @include xs {
      width: 100%;
    }
  }
}

.gallery {
  &__img {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.product-info {
  &__title {
    margin-top: 0;
    margin-bottom: 3px;
    font: var(--fs-l);
  }

  &__price {
    display: inline-block;
    margin-bottom: 20px;
    font: var(--fs-l);
  }

  &__first-descr {
    margin-bottom: 20px;
    width: 463px;

    @include xs {
      width: 100%;
    }
  }

  &__second-descr {
    width: 280px;

    @include xs {
      width: 100%;
    }
  }

  &__instruction {
    margin: 30px 0;
    border-top: 1px solid var(--color-gray);
  }

  &__sizing-instruction {
    margin-top: 30px;
    margin-bottom: 14px;

    p {
      width: 463px;

      @include xs {
        width: 100%;
      }
    }
  }

  &__btn {
    margin-top: 30px;
    outline: none;
    border: 1px solid var(--color-accent);
    padding: 24px 0;
    width: 100%;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-accent);

    &:active {
      color: var(--color-accent);
      background-color: transparent;
    }
  }

  &__selects {
    display: flex;
    margin-bottom: 30px;

    @include xs {
      flex-direction: column;
    }
  }

  &__select {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-gray);
    padding: 12px 0;
    width: 100%;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__caption {
    font-weight: 700;
  }
}

.custom-select {
  position: relative;
  padding-right: 24px;
  width: 100%;
  min-width: 115px;
  text-align: left;
  cursor: pointer;

  &__top {
    display: inline-block;
    margin-left: 12px;
    max-width: 100px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__icon {
    position: absolute;
    right: 0;
    top: calc(50% - 7px);
    width: 12px;
    height: 12px;
  }

  &__dropdown {
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    z-index: 20;
    display: none;
    width: 100%;
    background-color: var(--color-dropdown);
  }

  &__list {
    padding: 12px 0;
  }

  &__item {
    display: block;
    padding: 12px 20px;
    width: 100%;
    text-align: center;
    color: #6a6a6a;
    transition: color 0.2s ease-in-out;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:focus {
      background-color: rgba(0, 0, 0, 0.1);
      transition: color 0.3s;
    }

    @include desktop {
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transition: color 0.3s;
      }
    }
  }

  &--open {
    .custom-select__top {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .custom-select__dropdown {
      display: block;
    }
  }
}
