.cart-header {
  &__btn {
    font: var(--fs-s);
    transition: 0.2s;

    &:focus {
      opacity: 0.59;
    }

    @include desktop {
      &:hover {
        opacity: 0.59;
      }
    }

    @include xs {
      font-style: 16px;
    }
  }

  &__count {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &--visible {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.cart-overlay {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transition: all ease 0.5s;
}

.transparentBcg {
  visibility: visible;
}

.cart-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 40%;
  height: 100%;
  background: var(--color-white);
  transform: translateX(100%);
  transition: all ease 0.5s;

  &__container {
    padding: 0 30px;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
  }

  &__title {
    font: var(--fs-s);
  }

  &__close {
    position: absolute;
    right: 0;
    top: calc(50% - 7px);
    line-height: 0;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: -12px;
      right: -12px;
      top: -8px;
      bottom: -8px;
      transform: translateZ(0);
    }

    svg {
      width: 12px;
      height: 12px;

      path {
        stroke: currentColor;
      }
    }
  }

  &__item {
    margin: 30px 0;
  }

  &__btn {
    display: inline-block;
    padding: 20px 40px;
    width: 100%;
    font: var(--fs-s);
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-accent);

    @include xs {
      padding: 20px 40px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__checkout {
    margin-right: 30px;
  }

  @include sm {
    width: calc(100vw - 65px);
    transition: all ease 0.3s;
  }
}

.showCart {
  transform: translateX(0);
}

.cart-product {
  display: flex;
  padding: 12px 0;

  &__img {
    margin-right: 12px;
    width: 30%;
    height: 135px;
  }

  &__content {
    position: relative;
    width: calc(100% - 30%);
  }

  &__title {
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  &__price {
    margin-bottom: 24px;
    font-weight: 600;
  }

  &__size {
    margin-bottom: 5px;
    font-weight: 400;
    text-transform: uppercase;

    span {
      margin: 12px;
    }
  }

  &__quantity {
    margin-bottom: 40px;
  }

  &__delete {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    color: var(--color-gray);
    cursor: pointer;
  }
}
