.collezione {
  &__title {
    margin-bottom: 12px;

    @include sm {
      text-align: center;
    }

    @include xs {
      font-weight: 400;
      font-size: 36px;
    }
  }

  &__subtitle {
    margin-bottom: 48px;

    @include sm {
      text-align: center;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: -10px;
  margin-left: -10px;
}

.grid__item-collezione {
  margin-right: 10px;
  margin-bottom: 10vw;
  margin-left: 10px;

  &:nth-child(1) {
    flex-basis: calc(59% - 20px);
    width: calc(59% - 20px);

    @include sm {
      flex-basis: calc(100% - 10px);
      width: calc(100% - 10px);
    }
  }

  &:nth-child(2) {
    flex-basis: calc(18% - 20px);
    margin-right: calc(18% + 10px);
    width: calc(18% - 20px);

    @include sm {
      flex-basis: calc(50% - 10px);
      margin-right: 5px;
      width: calc(50% - 10px);
    }
  }

  &:nth-child(3) {
    flex-basis: calc(18% - 20px);
    width: calc(18% - 20px);

    @include sm {
      flex-basis: calc(50% - 10px);
      width: calc(50% - 10px);
    }
  }

  &:nth-child(4) {
    flex-basis: calc(18% - 20px);
    width: calc(18% - 20px);

    @include sm {
      flex-basis: calc(50% - 10px);
      width: calc(50% - 10px);
    }
  }

  &:nth-child(5) {
    flex-basis: calc(37% - 20px);
    margin-left: calc(27% + 10px);
    width: calc(37% - 20px);

    @include sm {
      flex-basis: calc(50% - 10px);
      margin-left: 5px;
      width: calc(50% - 10px);
    }
  }

  &:nth-child(6) {
    flex-basis: calc(37% - 20px);
    width: calc(37% - 20px);

    @include sm {
      flex-basis: calc(50% - 10px);
      width: calc(50% - 10px);
    }
  }

  &:nth-child(7) {
    flex-basis: calc(18% - 20px);
    width: calc(18% - 20px);

    @include sm {
      flex-basis: calc(50% - 10px);
      width: calc(50% - 10px);
    }
  }

  &:nth-child(8) {
    flex-basis: calc(18% - 20px);
    margin-left: calc(27% + 10px);
    width: calc(18% - 20px);

    @include sm {
      flex-basis: calc(50% - 10px);
      margin-left: 5px;
      width: calc(50% - 10px);
    }
  }

  @include sm {
    margin-right: 5px;
    margin-bottom: 16vw;
    margin-left: 5px;
  }

  @include xs {
    margin-bottom: 50px;
  }
}

.grid__item-catalog {
  margin: 0 10px;
  margin-bottom: 10vw;
  width: calc((100% - 60px) / 3);
  min-height: 300px;

  &:not(:nth-child(-n + 6)) {
    margin-bottom: 0;
  }

  @include lg {
    margin-bottom: 16vw;
    width: calc(50% - 20px);
  }
}

.product {
  &__img {
    position: relative;

    img {
      @include sm {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @include sm {
      height: 338px;
    }

    @include xs {
      margin-bottom: 10px;
      height: 200px;
    }
  }

  &__btns {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &--active {
      opacity: 1;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: #332f2f;
    transition: background-color 0.3s ease-in-out;

    svg {
      width: 30px;
      height: 30px;
      stroke: var(--color-white);
    }

    &:hover {
      background-color: #332f2f;
    }

    &:first-child {
      margin-right: 20px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: #332f2f;
    transition: background-color 0.3s ease-in-out;

    svg {
      width: 30px;
      height: 30px;
      stroke: var(--color-white);
    }

    &:hover {
      background-color: currentColor;
    }

    &:first-child {
      margin-right: 60px;
    }

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }

  &__title {
    @include xs {
      font-weight: 500;
      font-size: 12px;
    }
  }

  &__price {
    @include xs {
      font-weight: 600;
      font-size: 12px;
    }
  }

  &:hover {
    .product__btns {
      opacity: 1;
      visibility: visible;
    }
  }
}

// .product__img-catalog {
//   height: 419px;

//   @include sm {
//     height: 338px;
//   }

//   @include xs {
//     margin-bottom: 10px;
//     height: 200px;
//   }
// }
