.nav {
  &__list {
    display: flex;

    @include sm {
      display: block;
    }
  }

  &__item {
    & + & {
      margin-left: 60px;

      @include sm {
        margin-left: 0;
      }
    }
  }

  &__link,
  .main-link {
    font: var(--fs-s);
    transition: 0.2s;

    &:focus {
      opacity: 0.59;
    }

    &:active {
      color: var(--color-white);
      opacity: 1;
    }

    @include desktop {
      &:hover {
        opacity: 0.59;
      }
    }

    @include sm {
      display: inline-block;
      border-bottom: 1px solid #bfbfbf;
      padding: 12px 20px;
      width: 100%;
    }
  }

  &--visible {
    left: 0;
    transition: all ease 0.5s;
  }
}

.main-link {
  color: var(--color-accent);
}
